@import '/src/styles/helpers.scss';

$space-between: 25px;

.create-card__wrapper {
  background: rgba($color-light-4, 0.5);
  border-radius: 20px;
  padding: 44px 20px;
  @include flexbox(center, flex-start, column);
  &:not(:last-child){
    margin-right: $space-between;
  }
  &-icon {
    width: 54px;
    height: 54px;
    background: $color-light-0;
    border-radius: 50%;
    margin-bottom: 25px;
    @include flexbox;
  }
  &-title {
    font-size: 24px;
    line-height: 32px;
    color: $color-gray-1;
    margin: auto 0;
    @include gilroy;
  }
}
