@import '/src/styles/helpers.scss';

.upload-nft__wrapper{
    width: 100%;
    &__body{
        margin: 0 auto;
        width: clamp(320px, 100%, 528px);
        &-title{
            margin: 95px 0 85px;
            @include transition;
        }
        &-switch{
            margin-bottom: 10px;
        }
        &-preview{
            &__delete{
                margin-top: 25px;
                @include flexbox(center, center)
            }
        }
    }
}

@include middle-tablet{
    .upload-nft__wrapper{
        padding: 0 22px;
    }
}

@include large-mobile{
    .upload-nft__wrapper{
        &__body{
            &-title{
                margin: 25px 0 40px;
            }
        }
    }
}