@import 'src/styles/helpers';

.wrapper {
  @include flexbox;
}

.circle {
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: rgba(12, 7, 253, 0);
}

.loader {
  @include transition;
  animation: spin 1.5s infinite linear;
}

.loader:before {
  display: block;
  content: '';
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 84px;
  height: 84px;
  border-radius: 50%;
}

.color_white:before {
  background: $color-light-3;
}

.color_purple:before {
  background: $color-light;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
    background: conic-gradient($color-accent, rgba(12, 7, 253, 0));
  }
  to {
    transform: rotate(360deg);
    background: conic-gradient(
      from 0 at 50% 50%,
      $color-accent 20deg,
      rgba(255, 60, 0, 0.479) 10deg,
      rgba(12, 7, 253, 0) 340deg
    );
  }
}
