@import '/src/styles/helpers.scss';

.head {
  width: 100%;
  position: relative;
  @include transition;
}

.detail{
  position: absolute;
  top: -80px;
  left: 0;
  width: 100vw;
  background: rgba($color-light-4, 0.5);
  height: 320px;
  z-index: -1;
}

.collection {
  padding-top: 168px;
  @include flexbox;
  flex-direction: column;
  .name {
    margin-top: 12px;
  }
  .info {
    line-height: 24px;
  }
}

.avatar {
  width: 144px;
  height: 144px;
  border: 4px solid $color-light-4;
  border-radius: 50%;
}

.creator {
  margin-top: 16px;
  margin-bottom: 8px;
  line-height: 24px;
}

.cards {
  @include container;
}
