@import 'src/styles/helpers';

.headerNavigation {
  @include flexbox(center, flex-start);
  margin-left: auto;
  gap: 30px;
  height: 100%;
  margin-left: auto;
  padding: 0 30px;
}

.uppercase {
  text-transform: uppercase;
}

.linkBtn {
  height: 100%;
  position: relative;
  border-radius: 0;
  &.active {
    color: rgba($color-dark, 0.5);
  }
}

.copiedAddress{
  width: 100%;
  min-width: 190px;
}

.dropdownLink {
  @include flexbox(flex-start, flex-start);
  width: 100%;
  border-radius: 0;
  padding: 8px 16px;

  &:hover {
    background-color: $color-purple;
  }
}

.popoverBody {
  padding: 8px 0 16px;
}

@include large-tablet{
  .headerNavigation{
    display: none;
  }
  .copiedAddress{
    display: none;
  }
}
