@import 'src/styles/helpers';

.headerNavigation {
  @include flexbox;
  margin-left: auto;
  gap: 30px;
  height: 100%;
  margin-left: auto;
  padding: 0 30px;
}

.linkBtn {
  height: 100%;
  position: relative;
  border-radius: 0;
  &.active {
    color: $color-actions-dark-purple;
  }
}

.dropdownLink {
  @include flexbox(center, flex-start);
  width: 100%;
  border-radius: 0;
  border-bottom: 1px solid $color-neutral-10;
  padding-bottom: 16px;

  &:first-of-type {
    padding-top: 0;
  }
  &:not(:first-of-type) {
    padding-top: 15px;
  }
}
