@import 'src/styles/helpers';

.headerNavigation {
  @include flexbox(flex-start, flex-start);
  margin-left: auto;
  gap: 30px;
  height: 100%;
  margin-left: auto;
  padding: 0 30px;
}

.linkBtn {
  height: 100%;
  position: relative;
  border-radius: 0;
  &.active {
    color: rgba($color-dark, 0.5);
  }
}

.dropdownLink {
  @include flexbox(flex-start, flex-start);
  width: 100%;
  border-radius: 0;
  padding-bottom: 16px;

  &:first-of-type {
    padding-top: 0;
  }
  &:not(:first-of-type) {
    padding-top: 15px;
  }
}
