{"swagger":"2.0","info":{"title":"Chimera Marketplace","description":"api for Chimera marketplace testnet","version":"v1"},"host":"chimera-marketplace.rocknblock.io","schemes":["https"],"basePath":"/api/v1","consumes":["application/json"],"produces":["application/json"],"securityDefinitions":{"Basic":{"type":"basic"}},"security":[{"Basic":[]}],"paths":{"/account/get_metamask_message/":{"get":{"operationId":"account_get_metamask_message_list","description":"","parameters":[],"responses":{"200":{"description":""}},"tags":["account"]},"parameters":[]},"/account/metamask_login/":{"post":{"operationId":"account_metamask_login_create","description":"","parameters":[{"name":"data","in":"body","required":true,"schema":{"$ref":"#/definitions/MetamaskLogin"}}],"responses":{"201":{"description":"","schema":{"$ref":"#/definitions/MetamaskLogin"}}},"tags":["account"]},"parameters":[]},"/account/self/":{"get":{"operationId":"account_self_list","description":"get self info","parameters":[],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/SelfUser"}}},"tags":["account"]},"patch":{"operationId":"account_self_partial_update","description":"Update current user info","parameters":[{"name":"data","in":"body","required":true,"schema":{"type":"object","properties":{"display_name":{"type":"string"},"avatar":{"type":"string","format":"binary"},"bio":{"type":"string"},"twitter":{"type":"string"},"instagram":{"type":"string"},"site":{"type":"string"}}}}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/User"}},"400":{"description":"attr: this attr is occupied"}},"tags":["account"]},"parameters":[]},"/account/self/like/":{"post":{"operationId":"account_self_like_create","description":"like token","parameters":[{"name":"data","in":"body","required":true,"schema":{"type":"object","properties":{"id":{"type":"number"}}}}],"responses":{"200":{"description":"liked/unliked"},"404":{"description":"Token not found"}},"tags":["account"]},"parameters":[]},"/account/{param}/":{"get":{"operationId":"account_read","description":"get other user's info","parameters":[],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/User"}}},"tags":["account"]},"parameters":[{"name":"param","in":"path","required":true,"type":"string"}]},"/networks/":{"get":{"operationId":"networks_list","description":"Return all supported networks.","parameters":[],"responses":{"200":{"description":"","schema":{"type":"array","items":{"$ref":"#/definitions/Network"}}}},"tags":["networks"]},"parameters":[]},"/networks/{name}":{"get":{"operationId":"networks_read","description":"Return all supported networks.","parameters":[],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/Network"}}},"tags":["networks"]},"parameters":[{"name":"name","in":"path","required":true,"type":"string"}]},"/rates/":{"get":{"operationId":"rates_list","description":"rate request","parameters":[{"name":"network","in":"query","type":"string"}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/Currency"}}},"tags":["rates"]},"parameters":[]},"/store/bids/make_bid/":{"post":{"operationId":"store_bids_make_bid_create","description":"make_bid","parameters":[{"name":"data","in":"body","required":true,"schema":{"type":"object","properties":{"token_id":{"type":"number"},"amount":{"type":"number"},"currency":{"type":"string"}}}}],"responses":{"201":{"description":"","schema":{"type":"object","properties":{"token_id":{"type":"number"},"amount":{"type":"number"},"currency":{"type":"string"}}}},"400":{"description":"error"},"404":{"description":"token not found"}},"tags":["store"]},"parameters":[]},"/store/buy/":{"post":{"operationId":"store_buy_create","description":"buy_token","parameters":[{"name":"data","in":"body","required":true,"schema":{"type":"object","properties":{"id":{"type":"number"}}}}],"responses":{"200":{"description":"Response with buyed token","schema":{"type":"object","properties":{"initial_tx":{"type":"object"},"nonce":{"type":"number"},"gasPrice":{"type":"number"},"gas":{"type":"number"},"to":{"type":"string"},"value":{"type":"number"},"data":{"type":"object"},"id_order":{"type":"string"},"whoIsSelling":{"type":"string"},"tokenToBuy":{"type":"object"},"amount":{"type":"number"},"tokenToSell":{"type":"object"},"tokenAddress":{"type":"string"},"id":{"type":"number"},"feeAddresses":{"type":"array","items":{"type":"string"}},"feeAmount":{"type":"array","items":{"type":"number"}},"signature":{"type":"string"}}}},"400":{"description":"you cant buy token"},"404":{"description":"token with given id was not found"}},"tags":["store"]},"parameters":[]},"/store/get_random_token/":{"get":{"operationId":"store_get_random_token_list","description":"","parameters":[{"name":"network","in":"query","type":"string"}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/Token"}},"404":{"description":"Tokens not found"}},"tags":["store"]},"parameters":[]},"/store/hot_bids/":{"get":{"operationId":"store_hot_bids_list","description":"","parameters":[],"responses":{"200":{"description":""}},"tags":["store"]},"parameters":[]},"/store/liked/{user_id}/":{"get":{"operationId":"store_liked_read","description":"get tokens liked by address","parameters":[{"name":"network","in":"query","type":"string"},{"name":"page","in":"query","type":"number"}],"responses":{"200":{"description":"","schema":{"type":"array","items":{"$ref":"#/definitions/Token"}}},"404":{"description":"user not found"}},"tags":["store"]},"parameters":[{"name":"user_id","in":"path","required":true,"type":"string"}]},"/store/max_price/":{"get":{"operationId":"store_max_price_list","description":"","parameters":[{"name":"network","in":"query","type":"string"}],"responses":{"200":{"description":"max_price"}},"tags":["store"]},"parameters":[]},"/store/presearch/":{"get":{"operationId":"store_presearch_list","description":"presearch","parameters":[{"name":"presearch","in":"query","description":"presearch","type":"string"}],"responses":{"200":{"description":"","schema":{"type":"array","items":{"$ref":"#/definitions/TokenFastSearch"}}}},"tags":["store"]},"parameters":[]},"/store/search/":{"get":{"operationId":"store_search_list","description":"get search pattern","parameters":[{"name":"nft_type","in":"query","description":"nft type","type":"string"},{"name":"rarity","in":"query","description":"nft rarity","type":"string"},{"name":"min_price","in":"query","type":"number"},{"name":"max_price","in":"query","type":"number"},{"name":"order_by","in":"query","description":"For tokens: created_at, price","type":"string"},{"name":"attributes","in":"query","description":"JSON in string format. e.g. {value: {min: 1, max: 10}} ir {value: value1}","type":"string"},{"name":"on_sale","in":"query","type":"boolean"},{"name":"on_timed_auc_sale","in":"query","type":"boolean"},{"name":"page","in":"query","type":"number"},{"name":"text","in":"query","type":"string"},{"name":"owner","in":"query","type":"string"},{"name":"bids_by","in":"query","type":"string"},{"name":"get_user_sold_list","in":"query","type":"string"}],"responses":{"200":{"description":"","schema":{"type":"array","items":{"$ref":"#/definitions/Token"}}}},"tags":["store"]},"parameters":[]},"/store/track_transaction/":{"post":{"operationId":"store_track_transaction_create","description":"transaction_tracker","parameters":[{"name":"data","in":"body","required":true,"schema":{"type":"object","properties":{"tx_hash":{"type":"string"},"token":{"type":"number"}}}}],"responses":{"201":{"description":"","schema":{"type":"object","properties":{"tx_hash":{"type":"string"},"token":{"type":"number"}}}}},"tags":["store"]},"parameters":[]},"/store/trending/":{"get":{"operationId":"store_trending_list","description":"Trending tokens","parameters":[{"name":"type","in":"query","type":"string"}],"responses":{"200":{"description":"","schema":{"type":"array","items":{"$ref":"#/definitions/Token"}}}},"tags":["store"]},"parameters":[]},"/store/{id}/":{"get":{"operationId":"store_read","description":"get token info","parameters":[],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/TokenFull"}},"404":{"description":"token not found"}},"tags":["store"]},"patch":{"operationId":"store_partial_update","description":"update owned token info","parameters":[{"name":"data","in":"body","required":true,"schema":{"type":"object","properties":{"selling":{"type":"boolean"},"minimal_bid":{"type":"number"},"price":{"type":"number"},"currency":{"type":"string"},"start_auction":{"type":"date-time"},"end_auction":{"type":"date-time"}}}}],"responses":{"200":{"description":"","schema":{"$ref":"#/definitions/TokenFull"}},"400":{"description":"this token doesn't belong to you"},"404":{"description":"token not found"}},"tags":["store"]},"parameters":[{"name":"id","in":"path","required":true,"type":"string"}]}},"definitions":{"MetamaskLogin":{"type":"object","properties":{"address":{"title":"Address","type":"string"},"msg":{"title":"Msg","type":"string"},"signed_msg":{"title":"Signed msg","type":"string"}}},"SelfUser":{"type":"object","properties":{"avatar":{"title":"Avatar","type":"string","readOnly":true},"id":{"title":"ID","type":"integer","readOnly":true},"address":{"title":"Address","type":"string","readOnly":true},"display_name":{"title":"Display name","type":"string","maxLength":50,"x-nullable":true},"created_at":{"title":"Created at","type":"string","format":"date-time","readOnly":true},"bio":{"title":"Bio","type":"string","x-nullable":true},"twitter":{"title":"Twitter","type":"string","maxLength":80,"x-nullable":true},"instagram":{"title":"Instagram","type":"string","maxLength":80,"x-nullable":true},"site":{"title":"Site","type":"string","maxLength":200,"x-nullable":true},"email":{"title":"Email","type":"string","format":"email","maxLength":200,"x-nullable":true},"likes":{"title":"Likes","type":"integer","readOnly":true}}},"User":{"type":"object","properties":{"avatar":{"title":"Avatar","type":"string","readOnly":true},"id":{"title":"ID","type":"integer","readOnly":true},"address":{"title":"Address","type":"string","readOnly":true},"display_name":{"title":"Display name","type":"string","maxLength":50,"x-nullable":true},"created_at":{"title":"Created at","type":"string","format":"date-time","readOnly":true},"bio":{"title":"Bio","type":"string","x-nullable":true},"twitter":{"title":"Twitter","type":"string","maxLength":80,"x-nullable":true},"instagram":{"title":"Instagram","type":"string","maxLength":80,"x-nullable":true},"site":{"title":"Site","type":"string","maxLength":200,"x-nullable":true},"email":{"title":"Email","type":"string","format":"email","maxLength":200,"x-nullable":true}}},"Currency":{"type":"object","properties":{"rate":{"title":"Rate","type":"string","format":"decimal","x-nullable":true},"symbol":{"title":"Symbol","type":"string","maxLength":20,"x-nullable":true},"name":{"title":"Name","type":"string","maxLength":100,"x-nullable":true},"image":{"title":"Image","type":"string","maxLength":500,"x-nullable":true}}},"Network":{"required":["name"],"type":"object","properties":{"ipfs_icon":{"title":"Ipfs icon","type":"string","readOnly":true},"name":{"title":"Name","type":"string","maxLength":100,"minLength":1},"native_symbol":{"title":"Native symbol","type":"string","maxLength":10,"x-nullable":true},"currencies":{"type":"array","items":{"$ref":"#/definitions/Currency"},"readOnly":true}}},"Bid":{"type":"object","properties":{"id":{"title":"ID","type":"integer","readOnly":true},"bidder":{"title":"Bidder","type":"string","readOnly":true},"bidder_id":{"title":"Bidder id","type":"string","readOnly":true},"bidder_avatar":{"title":"Bidder avatar","type":"string","readOnly":true,"minLength":1},"amount":{"title":"Amount","type":"string","format":"decimal","x-nullable":true},"usd_price":{"title":"Usd price","type":"string","readOnly":true},"currency":{"$ref":"#/definitions/Currency"},"state":{"title":"State","type":"string","enum":["Pending","Failed","Committed","Burned","Expired"]}}},"UserOwner":{"type":"object","properties":{"avatar":{"title":"Avatar","type":"string","readOnly":true},"created_at":{"title":"Created at","type":"string","format":"date-time","readOnly":true},"twitter":{"title":"Twitter","type":"string","readOnly":true,"minLength":1},"instagram":{"title":"Instagram","type":"string","readOnly":true,"minLength":1},"site":{"title":"Site","type":"string","readOnly":true,"minLength":1},"owned_tokens":{"title":"Owned tokens","type":"integer","readOnly":true},"address":{"title":"Address","type":"string","readOnly":true},"display_name":{"title":"Display name","type":"string","readOnly":true,"minLength":1},"bio":{"title":"Bio","type":"string","readOnly":true,"minLength":1},"email":{"title":"Email","type":"string","format":"email","readOnly":true,"minLength":1},"id":{"title":"ID","type":"integer","readOnly":true},"name":{"title":"Name","type":"string","readOnly":true},"price":{"title":"Price","type":"integer","readOnly":true},"currency":{"$ref":"#/definitions/Currency"}}},"Token":{"required":["is_selling","is_timed_auc_selling","name","currency","collection"],"type":"object","properties":{"is_selling":{"title":"Is selling","type":"boolean"},"is_timed_auc_selling":{"title":"Is timed auc selling","type":"boolean"},"like_count":{"title":"Like count","type":"integer","readOnly":true},"id":{"title":"ID","type":"integer","readOnly":true},"name":{"title":"Name","type":"string","maxLength":200,"minLength":1},"media":{"title":"Media","type":"string","readOnly":true},"animation":{"title":"Animation","type":"string","readOnly":true},"gif":{"title":"Gif","type":"string","readOnly":true},"price":{"title":"Price","type":"number","readOnly":true},"currency":{"$ref":"#/definitions/Currency"},"rarity":{"title":"Rarity","type":"string","enum":["COMMON","UNCOMMON","RARE","EPIC","LEGENDARY"]},"type":{"title":"Type","type":"string","enum":["UNKNOWN","GENERAL","UNIT","EQUIPMENT"]},"USD_price":{"title":"Usd price","type":"number","readOnly":true},"collection":{"title":"Collection","type":"integer"},"minimal_bid":{"title":"Minimal bid","type":"string","format":"decimal","readOnly":true},"description":{"title":"Description","type":"string","x-nullable":true},"properties":{"title":"Properties","type":"object","readOnly":true},"is_liked":{"title":"Is liked","type":"boolean","readOnly":true},"selling":{"title":"Selling","type":"boolean"},"updated_at":{"title":"Updated at","type":"string","format":"date-time","readOnly":true},"start_auction":{"title":"Start auction","type":"integer","readOnly":true},"end_auction":{"title":"End auction","type":"integer","readOnly":true},"format":{"title":"Format","type":"string","maxLength":10,"minLength":1,"x-nullable":true},"bids":{"type":"array","items":{"$ref":"#/definitions/Bid"},"readOnly":true},"highest_bid":{"$ref":"#/definitions/Bid"},"highest_bid_USD":{"title":"Highest bid usd","type":"number","readOnly":true},"minimal_bid_USD":{"title":"Minimal bid usd","type":"number","readOnly":true},"network":{"$ref":"#/definitions/Network"},"owner":{"$ref":"#/definitions/UserOwner"}}},"TokenFastSearch":{"required":["name"],"type":"object","properties":{"id":{"title":"ID","type":"integer","readOnly":true},"name":{"title":"Name","type":"string","maxLength":200,"minLength":1},"media":{"title":"Media","type":"string","readOnly":true}}},"TokenFull":{"required":["is_selling","is_timed_auc_selling","name","currency","collection"],"type":"object","properties":{"is_selling":{"title":"Is selling","type":"boolean"},"is_timed_auc_selling":{"title":"Is timed auc selling","type":"boolean"},"like_count":{"title":"Like count","type":"integer","readOnly":true},"id":{"title":"ID","type":"integer","readOnly":true},"name":{"title":"Name","type":"string","maxLength":200,"minLength":1},"media":{"title":"Media","type":"string","readOnly":true},"animation":{"title":"Animation","type":"string","readOnly":true},"gif":{"title":"Gif","type":"string","readOnly":true},"price":{"title":"Price","type":"number","readOnly":true},"currency":{"$ref":"#/definitions/Currency"},"rarity":{"title":"Rarity","type":"string","enum":["COMMON","UNCOMMON","RARE","EPIC","LEGENDARY"]},"type":{"title":"Type","type":"string","enum":["UNKNOWN","GENERAL","UNIT","EQUIPMENT"]},"USD_price":{"title":"Usd price","type":"number","readOnly":true},"collection":{"title":"Collection","type":"integer"},"minimal_bid":{"title":"Minimal bid","type":"string","format":"decimal","readOnly":true},"description":{"title":"Description","type":"string","x-nullable":true},"properties":{"title":"Properties","type":"object","readOnly":true},"is_liked":{"title":"Is liked","type":"boolean","readOnly":true},"selling":{"title":"Selling","type":"boolean","readOnly":true},"updated_at":{"title":"Updated at","type":"string","format":"date-time","readOnly":true},"start_auction":{"title":"Start auction","type":"integer","readOnly":true},"end_auction":{"title":"End auction","type":"integer","readOnly":true},"format":{"title":"Format","type":"string","maxLength":10,"minLength":1,"x-nullable":true},"bids":{"type":"array","items":{"$ref":"#/definitions/Bid"},"readOnly":true},"highest_bid":{"$ref":"#/definitions/Bid"},"highest_bid_USD":{"title":"Highest bid usd","type":"number","readOnly":true},"minimal_bid_USD":{"title":"Minimal bid usd","type":"number","readOnly":true},"network":{"$ref":"#/definitions/Network"},"owner":{"$ref":"#/definitions/UserOwner"},"internal_id":{"title":"Internal id","type":"integer","maximum":2147483647,"minimum":0,"x-nullable":true}}}}}