@import 'src/styles/helpers';

.search {
  position: relative;
  // width: 100%;

  // &.desktop {
  // }

  &Input {
    input {
      width: 342px;
      transition: $transition;
      @include m {
        max-width: 282px;
        width: 100%;
      }
    }
  }

  &Btn {
    position: absolute;
    padding: 0 0 0 18px;
  }
}

.closed {
  input {
    // background: $color-neutral-3;
    // border: 2px solid $color-actions-dark-grey;
    width: 58px;
    padding-left: 42px;
    transition: $transition;
  }
}

.searchDropdown {
  width: 100%;
  box-sizing: border-box;
  top: 100%;
  position: absolute;
  background: $color-light-4;
  // box-shadow: $color-box-shadow;
  height: 0;
  transition: 200ms;
  z-index: 10;
  border-radius: 15px;

  // &.desktop {
  width: 342px;
  // }

  &.isVisible {
    padding: 24px;
    height: unset;
  }

  @include m {
    max-width: 342px;
    width: 100%;
  }
}

.searchLoader {
  position: absolute;
  top: 50%;
  right: 0;
}

.searchResults {
  margin-top: 26px;
}

.searchItem {
  &:not(:first-child) {
    margin-top: 26px;
  }
}

.viewResults {
  margin-top: 26px;
}
