@import 'src/styles/helpers.scss';

.button {
  @include flexbox();
  cursor: pointer;
  position: relative;
  white-space: nowrap;
  @include shadow-3;
  @include gilroy;
  box-sizing: border-box;
  &:focus {
    outline: none;
  }

  &.isFullWidth {
    width: 100%;
  }

  &.disabled {
    cursor: not-allowed;
  }

  &.outline {
    font-weight: 600;
    color: $color-dark;
    background: none;
    border: 2px solid $color-dark;

    & > svg {
      // fill: $color-neutral-0;
    }

    &:hover {
      background: $color-dark-blue;
      color: $color-light-4;
    }

    &:active {
      background: $color-light-blue;
      color: $color-light-4;
    }

    &:focus {
      border: 2px solid $color-accent;
      color: $color-dark;

      &:hover {
        color: $color-light-4;
      }
    }

    &.disabled {
      opacity: 0.5;

      & > svg {
        // fill: $color-neutral-20;
      }
    }
  }

  &.dark {
    font-weight: 600;

    color: $color-light-4;
    background: $color-dark;

    // & > svg {
    //   fill: $color-light-4;
    // }

    &:hover {
      background: $color-dark-blue;
      color: $color-light-4;
    }

    &:active {
      background: $color-light-blue;
      color: $color-light-4;
    }

    &:focus {
      border: 2px solid $color-accent;
      background: $color-dark;
      color: $color-light-4;
    }

    &.disabled {
      color: $color-light-4;
      background: $color-dark;
      border: 1px solid $color-dark;
      opacity: 0.5;

      //   & > svg {
      //     fill: $color-neutral-20;
      //   }
    }
  }

  &.light {
    font-weight: 600;

    color: $color-dark;
    background: $color-light-4;

    // & > svg {
    //   fill: $color-light-4;
    // }

    &:hover {
      background: $color-light-3;
      color: $color-accent;
    }

    &:active {
      background: $color-light-2;
      color: $color-dark;
    }

    &:focus {
      border: 2px solid $color-accent;
      background: $color-light-4;
      color: $color-dark;
    }

    &.disabled {
      color: $color-dark;
      background: $color-light-4;
      opacity: 0.5;

      //   & > svg {
      //     fill: $color-neutral-20;
      //   }
    }
  }
}

.small {
  padding: 12px 24px;
  border-radius: 30px;
  font-size: 13px;
  height: 32px;
}
.medium {
  padding: 16px 50px;
  border-radius: 38px;
  font-size: 13px;
  height: 40px;
}
.large {
  padding: 16px 50px;
  border-radius: 38px;
  font-size: 16px;
  height: 48px;
}
.extra-large {
  padding: 16px 50px;
  border-radius: 38px;
  font-size: 16px;
  height: 56px;
}

.transparent {
  border: none;
  background-color: transparent;
  box-shadow: none;

  &:hover {
    filter: brightness(85%);
  }
}

.icon {
  margin-right: 10px;

  height: unset;
}

.loader {
  left: 80% !important;
}
