@import 'src/styles/helpers.scss';

.banner {
  position: relative;
  &Btn {
    @include flexbox(flex-start, center);
    margin-top: 32px;
  }
  &Body {
    @include flexbox(center, flex-start);
    flex-direction: column;
  }
}

.title {
  font-size: 62px;
  margin-top: 80px;
  margin-bottom: 36px;
  max-width: 852px;
}

.subtitle {
  max-width: 475px;
}

.gradient {
  font-size: 439.026px;
  line-height: 517px;
  letter-spacing: -0.07em;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  @include flexbox(center, flex-start);
  flex-direction: column;
  overflow: hidden;
  .ellipse{
    transform: translateY(-24%);
  }
  .metaverse{
    max-width: 100%;
  }
}

.subtitle,
.title {
  text-align: center;
}
