@import '/src/styles/helpers.scss';

.buttons-wrapper {
  @include flexbox;
}

.add-remove-button {
  &:not(:last-child) {
    margin-right: 11px;
  }
  svg {
    @include transition;
  }
  &:hover {
    svg {
      filter: invert(1);
    }
  }
}

@include large-mobile {
  .buttons-wrapper {
    padding-right: 11px;
  }
}
