@import 'src/styles/helpers';

.titleDropdown {
  position: relative;
  width: fit-content;
}

.gradientValue {
  color: $color-accent;
}

.selected {
  @include flexbox(center, flex-start);
  cursor: pointer;
  outline: none;

  &Img {
    // border: 1px solid $color-neutral-10;
    border-radius: 100%;
    transition: transform 0.3s ease-in-out;

    &Open {
      transform: rotate(0.5turn);
      transition: transform 0.3s ease-in-out;
    }
  }
}

.triangle {
  position: absolute;
  width: 0px;
  height: 0px;
  border: 16px solid transparent;
  // border-bottom: 16px solid $color-neutral-0;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
}

.dropdownContainer {
  position: relative;
}

.selectionWrapper {
  position: absolute;
  z-index: 999;
  top: 44px;
  // background: $color-bg;
  border-radius: 2px;
  left: 50%;
  opacity: 0;
  transform: translate(-47.5%, 0);
  pointer-events: none;
  max-width: 154px;
  // color: $color-neutral-80;
  // @include box-shadow($y: 16px);

  @include d {
    left: -10%;
  }
}

.body {
  padding: 20px 0 28px;
  background-color: $color-light-3;
  li {
    padding: 8px 16px;
    &:hover {
      background-color: $color-purple;
    }
  }
}

.activeDropdown {
  opacity: 1;
  pointer-events: all;
  border-radius: $border-radius;
  @include transition;
}

.option {
  width: 208px;
  cursor: pointer;
  white-space: nowrap;
  // color: $color-neutral-80;
  // @include epilogue;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  // -webkit-text-fill-color: $color-neutral-80;
  text-align: left;
  &:hover {
    // -webkit-text-fill-color: $color-action-hovered;
  }
  &:active {
    // -webkit-text-fill-color: $color-action-pressed;
  }

  &Icon {
    margin-right: 10px;
  }
}
