// common styles
body {
  @include gilroy;
  font-size: 14px;

  background: $color-bg;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

svg,
img {
  vertical-align: middle;
}

.desktop {
  &-hide {
    @include default-screen {
      display: none !important;
    }
  }

  &-show {
    display: none !important;

    @include default-screen {
      display: block !important;
    }
  }

  &-text-right {
    @include default-screen {
      text-align: right;
    }
  }
}

.tablet {
  &-hide {
    @include large-tablet {
      display: none !important;
    }
  }

  &-show {
    display: none !important;

    @include large-tablet {
      display: block !important;
    }
  }
}

.mobile {
  &-hide {
    @include large-mobile {
      display: none !important;
    }
  }

  &-show {
    display: none !important;

    @include large-mobile {
      display: block !important;
    }
  }
}

.preload-page{
  margin-top: 40px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;

  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

iframe {
  display: none;
}
