// colors
$color-dark: #151b4c;
$color-accent: #223dff;
$color-light: #dfe1fc;
$color-bg: #dfe1fc;

$color-dark-0: #1c1c28;
$color-dark-1: #28293d;
$color-dark-2: #555770;
$color-dark-3: #8f90a6;
$color-dark-4: #c7c9d9;
$color-light-0: #e4e4eb;
$color-light-1: #ebebf0;
$color-light-2: #f2f2f5;
$color-light-3: #fafafc;
$color-light-4: #ffffff;

$color-black: #1c1c28;
$color-white: #ffffff;

$color-purple: #dbdfff;
$color-dark-blue: #1f276c;
$color-light-blue: #2a3486;

$color-orange-gradient: linear-gradient(180deg, #ffd233 0%, #ffba33 100%);
$color-orange-1: #fdac42;
$color-orange-2: #fccc75;
$color-blue-gradient: linear-gradient(180deg, #586dff 0%, #223dff 100%);
$color-blue-1: #0063f7;
$color-blue-2: #5b8def;
$color-green-gradient: linear-gradient(180deg, #00cdda 0%, #00e07f 100%);
$color-green-1: #06c270;
$color-green-2: #39d98a;
$color-green-3: #57eba1;
$color-yellow-1: #ffcc00;
$color-gray-0: #d9d9d9;
$color-gray-1: #333333;

$color-gradient: linear-gradient(26.94deg, #dee1ff 18.04%, #f3e6fe 46.94%, #ffffff 73.72%);
$color-gradient-2: linear-gradient(96.38deg, #dde1ff 10.59%, #fee8fd 126.41%);

@mixin shadow-0 {
  box-shadow: 0px 2px 8px rgba(40, 41, 61, 0.08), 0px 20px 32px rgba(96, 97, 112, 0.24);
}
@mixin shadow-1 {
  box-shadow: 0px 2px 8px rgba(40, 41, 61, 0.04), 0px 16px 24px rgba(96, 97, 112, 0.16);
}
@mixin shadow-2 {
  box-shadow: 0px 2px 4px rgba(40, 41, 61, 0.04), 0px 8px 16px rgba(96, 97, 112, 0.16);
}
@mixin shadow-3 {
  box-shadow: 0px 0px 2px rgba(40, 41, 61, 0.04), 0px 4px 8px rgba(96, 97, 112, 0.16);
}
@mixin dynamic-shadow($offset-x: 0px, $offset-y: 0px, $blur-radius: 5px, $spread-radius: 0px, $color: rgba(40, 41, 61, 0.08)){
  box-shadow: $offset-x $offset-y $blur-radius $spread-radius $color;
}

//container
@mixin container {
  margin: 0 auto;
  max-width: 1082px;
  width: 100%;
  // @include m {
  //   padding: 0 32px;
  // }
  @include default-screen {
    padding-left: 32px;
    padding-right: 32px;
  }
  @include middle-tablet {
    padding-left: 20px;
    padding-right: 20px;
  }
}

//placeholder
@mixin placeholder {
  &::placeholder {
    @content;
  }
}

$border-radius: 12px;

@mixin multiplyRowsEllipsis($rows: 3) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $rows;
  -webkit-box-orient: vertical;
}

@mixin autoGrid($min: 250px, $max: 1fr, $gap: 0) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($min, $max));
  gap: $gap;
}

//flexbox
$defaultFlexBoxAlign: center;
$defaultFlexBoxJustify: center;
$defaultFlexDirection: row;

@mixin flexbox(
  $align: $defaultFlexBoxAlign,
  $justify: $defaultFlexBoxJustify,
  $direction: $defaultFlexDirection
) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

$transition-duration: 0.3s;
$transition-timing-function: ease;
$transition-delay: 0s;

@mixin transition(
  $duration: $transition-duration,
  $function: $transition-timing-function,
  $delay: $transition-delay,
  $property: all
) {
  transition: $property $duration $function $delay;
}

// media queries
@mixin large-screen {
  @media only screen and (max-width: 1419px) {
    @content;
  }
}

@mixin middle-screen {
  @media only screen and (max-width: 1339px) {
    @content;
  }
}

@mixin default-screen {
  @media only screen and (max-width: 1179px) {
    @content;
  }
}

@mixin large-tablet {
  @media only screen and (max-width: 1023px) {
    @content;
  }
}

@mixin middle-tablet {
  @media only screen and (max-width: 767px) {
    @content;
  }
}

@mixin small-tablet {
  @media only screen and (max-width: 639px) {
    @content;
  }
}

@mixin large-mobile {
  @media screen and (max-width: 541px) {
    @content;
  }
}

@mixin middle-mobile {
  @media only screen and (max-width: 474px) {
    @content;
  }
}

@mixin small-mobile {
  @media screen and (max-width: 376px) {
    @content;
  }
}

// typography
.text-gradient {
  display: inline-block;

  // font-family: 'MD', sans-serif;

  background: $color-gradient;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  &::selection {
    -webkit-text-fill-color: $color-white;
  }

  ::selection {
    -webkit-text-fill-color: $color-white;
  }
}

.gradient-body{
  background: $color-gradient;
  &-2{
    background: $color-gradient-2;
  }
}

.with-left-detail{
  position: relative;
  overflow: hidden;
  &:before{
    position: absolute;
    top: 0;
    left: 0;
    width: 1500px;
    height: 1100px;
    content: '';
    pointer-events: none;
    background: left / contain no-repeat url('/assets/img/left-detail.png');
  }
}

.with-right-detail{
  position: relative;
  overflow: hidden;
  &:after{
    position: absolute;
    top: 1100px;
    right: 0;
    width: 1500px;
    height: 1100px;
    content: '';
    pointer-events: none;
    background: right / contain no-repeat url('/assets/img/right-detail.png');
  }
}

.with-transition{
  @include transition;
}

// fonts
@mixin gilroy {
  font-family: 'Gilroy', sans-serif;
}

@mixin redressed {
  font-family: 'Redressed', sans-serif;
}
