@import 'src/styles/helpers.scss';

.prices {
  @include flexbox(center, flex-start);
  margin-left: 12px;
}

.price {
  input {
    padding: 8px 12px;
    font-size: 14px;
  }

  & + & {
    margin-left: 16px;
  }

  &:nth-child(n) {
    div:nth-child(n) {
      padding-right: 6px;
    }
  }
}

@include default-screen {
  .prices {
    margin-left: 0;
    margin-top: 8px;
    width: 100%;
    .price {
      width: 100%;
    }
  }
}

@include large-mobile {
  .prices {
    margin-top: -8px;
    flex-direction: column;
    .price {
      margin-left: 0;
      margin-top: 16px;
    }
  }
}
