@import '/src/styles/helpers.scss';

.adaptive-logo{
  max-width: 220px;
  flex-wrap: wrap;
  @include flexbox(flex-start);
  .phenom-part{
    margin-right: 8px;
  }
}

@include middle-mobile{
  .adaptive-logo{
    max-width: 200px;
    .phenom-part{
      margin-right: 0px;
      margin-bottom: 8px;
    }
  }
}

.dark {
  path {
    fill: $color-dark;
  }
}

.light {
  path {
    fill: $color-white;
  }
}
