@import 'src/styles/helpers';

.wrapper{
  min-height: 100vh;
  position: relative;
  z-index: 1;
  @include flexbox(center, flex-start, column);
}

.body {
  position: absolute;
  width: 100%;
  z-index: -1;
  &Reverted {
    position: absolute;
    transform: translateY(100%) scale(-1, 1);
  }
}
