@import 'src/styles/helpers';

.title {
  margin: 0 auto 16px;
  text-align: center;
}

.head {
  background: $color-light-1;
  padding: 15px 12px;
  border-radius: 10px;
}

.top {
  @include flexbox(center, space-between);
  margin-bottom: 12px;
}

.avatar {
  img {
    border-radius: 50%;
    border: 2px solid $color-light-4;
  }
}

.burger{
  width: 100%;
  height: 100%;
  position: relative;
  .line{
    &2,
    &1{
      position: absolute;
      width: 18px;
      height: 2px;
      border-radius: 2px;
      background: $color-burger-line;
      left: 50%;
      transform: translate(-50%, -50%);
      @include transition;
    }
    &1{
      top: calc(50% - 3px);
    }
    &2{
      top: calc(50% + 3px);

    }
  }
  &.open{
    .line{
      &1{
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
      }
      &2{
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }
}

.avatar,
.edit {
  @include flexbox;
  gap: 16px;
}

.address {
  margin-top: 10px;
  background: $color-light-4;
  border-radius: 12px;
  padding: 6px 10px;

  @include flexbox(center, space-between);
}

.menu {
  margin-top: 8px;
}

.item {
  background: $color-light-1;
  padding: 15px 12px;
  border-radius: 10px;
  width: 100%;

  & + & {
    margin-top: 8px;
  }

  &:hover {
    background-color: $color-purple;
  }

  &Mobile {
    height: 48px;
    @include flexbox(center, flex-start);
    background-color: $color-light-1;
  }
}

.exit {
  border-radius: 10px;
  width: 100%;
  margin-top: 8px;
  justify-content: center;
  &Icon {
    margin-left: 10px;
  }
}

.user {
  position: relative;

  &Buttons {
    @include flexbox(flex-start, flex-start);
    margin-top: 8px;
  }

  &Item {
    background-color: $color-light-1;
    border-radius: 10px;
    padding: 15px 12px;
    width: 100%;
    height: 94px;

    .balance {
      margin-top: 8px;
    }

    & + & {
      margin-left: 8px;
    }
  }
}

.createWrapper {
  @include flexbox(center, center);
  flex-direction: column;
  .imageWrapper {
    border-radius: 50%;
    background-color: $color-light-4;
    @include shadow-3;
    @include flexbox(center, center);
    width: 36px;
    height: 36px;
  }
}

.connectSection{
  &Desktop{
    .connectText{
      text-transform: uppercase;
    }
  }
  &Mobile{
    display: none;
  }
}

.popoverBtn,
.userBtn {
  border: 2px solid $color-light-4;
  border-radius: 50%;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.04)) drop-shadow(0px 8px 16px rgba(0, 0, 0, 0.32));
  width: 33px;
  height: 33px;
  background-color: $color-light-4;
}

.userBtn {
  padding: 0;

  svg {
    path {
      width: 12px;
      height: 12px;
      fill: $color-accent;
    }
  }
}

.popoverBody {
  width: 350px;
}

.mobileBody {
  position: absolute;
  top: 100%;
  min-width: 200px;
  max-width: calc(100vw - 20px);
  z-index: 999;
  padding: 16px;
  background: $color-light-3;
  opacity: 0;
  /* Pop Up */
  // box-shadow: $color-box-shadow;
  animation: showUser 0.4s forwards;
  border-radius: $border-radius;
  right: -10px;
  margin-top: 10px;

  .foot {
    margin-top: 24px;
    @include flexbox(center, flex-start);
    flex-direction: column;

    .docs {
      text-decoration: underline;
    }
  }
}

.dropdown {
  position: relative;
  z-index: 3;
  &.active {
    z-index: 10;

    .dropdownHead {
      border-radius: 10px 10px 0 0;
      .arrow {
        transform: rotate(-180deg);
        @include transition;
      }
    }

    .dropdownBody {
      display: block;

      opacity: 1;

      transform: translateY(0);

      .borderTop {
        border-top: 1px solid rgba(0, 0, 0, 0.2);
      }
    }
  }

  &Head {
    position: relative;
    background: $color-light-1;
    padding: 8px 16px;
    border-radius: 10px;
    transition: border-radius 0.5s;
    margin-top: 8px;
    // @include dark {
  }

  .arrow {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 24px;
    height: 24px;

    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(0deg);
    @include transition;
  }

  &Body {
    padding: 0 16px;

    display: none;

    background: $color-light-1;
    opacity: 0;
    // border: 2px solid $color-neutral-10;
    border-radius: 0 0 10px 10px;

    transition: all 0.2s;
    transform: translateY(-10px);
    width: 100%;
    // }
  }

  .option {
    padding: 8px 0;
    height: 40px;
  }
}

@keyframes showUser {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@include large-tablet{
  .connectSection{
    &Mobile{
      display: block;
      position: relative;
      button{
        padding: 15px;
      }
      &Motion{
        position: absolute;
        right: 50%;
        top: calc(100% + 25px);
        transform: translateX(10px);
        animation: motion 2s ease-in-out forwards infinite;
        @include flexbox;
        .arrow{
          min-width: 40px;
          position: relative;
          top: -10px;
        }
        .connectText{
          width: max-content;
        }
      }
    }
    &Desktop{
      display: none;
    }
  }
}

@keyframes motion{
  0%{
    transform: translateX(10px) translateY(0);
  }
  50%{
    transform: translateX(10px) translateY(10px);
  }
  100%{
    transform: translateX(10px) translateY(0);
  }
}

@include large-mobile{
  .address{
    width: 100%;
  }
  .connectSection{
    &Mobile{
      &Motion{
        top: calc(100% + 5px);
        .arrow{
          transform: scale(0.9) translateY(2px);
        }
      }
    }
  }
}