@import 'src/styles/helpers.scss';

.userBuy {
  background: rgba($color-light-4, 0.4);
  border-radius: 20px;
  margin-top: 24px;
  padding: 24px 28px 28px 24px;
  width: 100%;

  .price {
    font-size: 28px;
    margin-top: 16px;
    margin-bottom: 16px;

    &Bids {
      @include flexbox(center, space-between);
    }

    &Input {
      margin-right: 16px;
      input {
        padding: 16px;
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
}

.timedAuc {
  &Title {
    @include flexbox(flex-start, flex-start);
  }
  &Icon {
    margin-right: 16px;
    path {
      fill: $color-accent;
    }
  }
}

.time {
  @include flexbox(flex-start, flex-start);

  &Item {
    @include flexbox(center, center);
    @include shadow-1;
    padding: 8px;
    background: $color-light-4;
    border-radius: 10px;
    flex-direction: column;
    width: 92px;
    margin-top: 8px;
    margin-bottom: 16px;

    & + & {
      margin-left: 16px;
    }
  }
}

.usdPrice {
  margin-bottom: 16px;
}

.quantity {
  line-height: 24px;
  margin-bottom: 4px;

  &Input {
    width: 50%;
    margin-right: 20px;
    input {
      width: 50%;
      font-size: 16px;
      line-height: 24px;
      padding: 16px;
    }
  }
}

.buy {
  width: 50%;
  text-transform: uppercase;
}
