@import '/src/styles/helpers.scss';

.image-preview__wrapper {
  width: 100%;
  height: 100%;
  &-image {
    width: 100%;
    height: 100%;
  }
}

.three-preview__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  &-loader {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    @include flexbox(center, center);
    @include transition;
    &.loading-active {
      opacity: 1;
      pointer-events: all;
    }
  }
  &-field {
    width: 100%;
    height: 100%;
  }
}

.video-preview__wrapper {
  width: 100%;
  height: 100%;
  &-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.audio-preview__wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  @include flexbox($direction: column);
  &-audio{
      margin-top: 22px;
      position: relative;
  }
  &.nft-card {
    .audio-preview__wrapper {
      &-audio {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
      }
    }
  }
}
