@import 'src/styles/helpers';

.field {
  position: relative;
}

.input {
  border-radius: $border-radius;
  padding: 12px 16px;
  background-color: rgba($color-white, 0.5);

  @include placeholder {
    color: $color-dark-4;
  }
}

.icon {
  position: absolute;
  top: 50%;
  left: 19px;
  z-index: 1;

  transform: translateY(-50%);

  &.disabled {
    // fill: $color-neutral-80;
  }
}

.withIcon{
  padding-left: 50px;
}
// input:-webkit-autofill,
// input:-webkit-autofill:hover,
// input:-webkit-autofill:focus,
// textarea:-webkit-autofill,
// textarea:-webkit-autofill:hover,
// textarea:-webkit-autofill:focus,
// select:-webkit-autofill,
// select:-webkit-autofill:hover,
// select:-webkit-autofill:focus {
//   color: $color-neutral-100 !important;
//   -webkit-box-shadow: 0 0 0 1000px none inset !important;

//   transition: background-color 5000s ease-in-out 0s;
//   -webkit-text-fill-color: $color-neutral-100 !important;
// }
