@import '/src/styles/helpers.scss';

.default-input__body {
  font-weight: 400;
  @include transition;
  &-label {
    font-size: 0;
    line-height: 24px;
    margin-bottom: 8px;
    display: inline-block;
    @include transition;
    &.show-label {
      font-size: 14px;
    }
  }
  &-input {
    padding: 20px 14px;
    width: 100%;
    background: transparent;
    font-size: 14px;
    line-height: 24px;
    @include transition;
    &-container {
      border-radius: 12px;
      color: $color-dark;
      border: 1px solid $color-dark;
      box-sizing: border-box;
      @include flexbox(center);
      @include transition;
      &:hover {
        border: 1px solid $color-dark;
      }
      &.input-focus {
        caret-color: $color-accent;
        border: 1px solid $color-accent;
      }
    }
    &__sub-info {
      padding-right: 0;
      width: auto;
      max-width: 0;
      overflow: hidden;
      @include transition;
      &.sub-info-active {
        padding-right: 12px;
        max-width: clamp(30px, 100%, 150px);
      }
    }
  }

  &-error {
    font-size: 0;
    @include transition;
  }

  &.invalid-field {
    .default-input__body {
      &-label {
        color: $color-error;
      }
      &-input {
        caret-color: $color-error;
        &-container {
          border: 2px solid $color-error;
        }
      }
      &-error {
        color: $color-error;
        font-size: 14px;
        line-height: 24px;
      }
    }
  }
}
