@import 'src/styles/helpers.scss';

.link {
  font-weight: 600;
  font-size: 13px;
  color: $color-dark-0;
  text-decoration: none;
}

.searchDesktop {
  margin-left: 40px;
}

.header {
  @include container;
  @include flexbox;
  padding-top: 28px;
  justify-content: space-between;
  &Links {
    @include flexbox;
    gap: 35px;
  }
  &Search {
    margin-left: 40px;

    width: 300px;
  }
}

@include t {
  .headerLinks,
  .headerSearch {
    display: none;
  }
}

@include m {
  .header {
    padding-top: 14px;
  }
  .searchDesktop {
    margin-left: 0;
  }
  .open {
    width: 282px;
  }
}
