@import 'src/styles/helpers.scss';

.link {
  font-weight: 600;
  font-size: 13px;
  color: $color-dark-0;
  text-decoration: none;
}

.searchDesktop {
  margin-left: 40px;
  width: 100%;
  max-width: 350px;
}

.header {
  @include container;
  @include flexbox;
  padding-top: 28px;
  justify-content: space-between;
  position: relative;
  z-index: 2;
  &Links {
    @include flexbox;
    gap: 35px;
  }
  &Search {
    margin-left: 40px;

    width: 300px;
  }
}

@include large-tablet {
  .headerLinks,
  .headerSearch {
    display: none;
  }
  .searchDesktop {
    margin-left: 0;
    min-width: 342px;
  }
}

@include middle-tablet {
  .header {
    padding-top: 14px;
    &Logo {
      position: absolute;
      left: calc(50% - 131px/2);
      max-width: 1000px;
      width: auto;
      @include transition($next: opacity 0.3s ease-in-out 0.5s);
      &.closed{
        max-width: 0;
        overflow: hidden;
        opacity: 0;
        transform: scale(0);
        @include transition(0.3s, ease-in-out, 0.3s, transform);
      }
    }
  }
  .searchDesktop{
    min-width: 0;
    max-width: 0;
  }
  .open {
    margin-right: 5px;
    width: auto;
    min-width: 85%;
  }
}
