@import 'src/styles/helpers';

.wrapper {
  position: absolute;
  top: 100%;
  @include flexbox(flex-end);
  &.right {
    right: 0;
  }
  &.center {
    left: 50%;
    transform: translateX(-50%);
  }
  .left {
    left: 0;
  }
}

.body {
  min-width: 200px;

  z-index: 999;
  padding: 16px;
  background: $color-light-3;
  opacity: 0;

  animation: showUser 0.4s forwards;
  border-radius: $border-radius;
}

@keyframes showUser {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
