@import 'src/styles/helpers.scss';

.explore {
  @include container;
  @include large-tablet {
    padding: 0;
  }
}

.container {
  @include container;
}

.title {
  margin-top: 92px;
  margin-bottom: 88px;
}

.categories {
  @include flexbox(flex-start, center);
  .category + .category {
    margin-left: 16px;
  }
}

.filters {
  padding: 16px 0 24px;
}

.sorting {
  padding: 26px 0;
  @include flexbox(center, space-between);

  &Dropdown {
    min-width: 200px;
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(344px, 1fr));

  gap: 24px;

  margin-bottom: 48px;
}

.load{
  @include flexbox(center, center);
  margin-bottom: 80px;
}

@include large-tablet{
  .categories{
    @include container;
  }
}

@include small-mobile{
  .cards{
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }
}

@include small-mobile{
  .sorting{
    padding: 15px 0 26px;
    .sortingDropdown{
      flex: 0 0 50%;
      min-width: 0;
    }
  }
}