@import 'src/styles/helpers.scss';

.avatar {
  position: relative;
  display: inline-block;

  &Img {
    object-fit: cover;

    // box-shadow: 0 0 4px rgba($color-neutral-80, 0.2);
    border-radius: 50%;
    // transition: box-shadow 0.4s ease;

    &:hover {
      // box-shadow: 0 0 12px rgba($color-neutral-80, 0.2);
    }
  }
}
.verified {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(10%, 0);
}
