@import 'src/styles/helpers.scss';

.avatar {
  position: relative;
  display: inline-block;
  overflow: hidden;
  @include transition;
  &Img {
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid $color-light-4;
    @include transition;
  }
  &.withAnim {
    &:hover {
      transform: translateY(-5px);
    }
  }
  &.withShadow {
    .avatar {
      &Img {
        @include shadow-3;
      }
    }
  }
}
.verified {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(10%, 0);
}
