@import 'src/styles/helpers';
@import 'src/styles/mixins/media.scss';

.footer {
  margin-top: auto;
  background: $color-dark;
  padding: 50px 0 42px;
  color: $color-light-4;
  flex: 0 0 273px;
  width: 100%;
}

.footerContent {
  margin: 0 auto;
  // border-top: 1px solid $color-neutral-30;
}

.linksAndControls {
  @include flexbox(flex-start, space-between);
  @include container;
  margin-top: 24px;
  padding-bottom: 40px;
  border-bottom: 1px solid;
  border-color: rgba($color-light-4, 0.2);
}

.footerLogo {
  flex-basis: 15%;
  @include flexbox(flex-start, flex-start);
  flex-direction: column;
}

.logo {
  margin-bottom: 15px;
  * {
    // color: $color-neutral-0 !important;
  }
}

.footerLinks {
  flex-basis: 50%;
  @include flexbox(flex-start, center);

  & > .linkBlock {
    &:not(:last-child) {
      margin-right: 100px;
    }
  }
}

.links {
  @include flexbox(flex-start, space-evenly);
  width: 40%;
}

.linkBlock {
  @include flexbox(flex-start, flex-start);
  flex-direction: column;

  .button {
    padding-left: 0;
  }

  & > * {
    margin-bottom: 20px;
  }
}

.footerActions {
  flex-basis: 25%;

  margin-bottom: 24px;

  & > * {
    margin-bottom: 20px;
  }

  @include large-mobile {
    p {
      text-align: center;
    }
  }
}

.copyrightBlock {
  padding-top: 32px;
  @include flexbox(flex-start, space-between);
  @include container;
  // border-top: 1px solid $color-neutral-30;
}

.privacy {
  @include flexbox;
  gap: 50px;
}

.footerIconLinks {
  margin-top: 30px;
}

@include small-tablet {
  .linksAndControls {
    flex-direction: column;
    & > * {
      &:not(:last-child) {
        width: 100%;
        margin-bottom: 30px;
      }
    }
  }
  .links{
    width: 100%;
    justify-content: space-between;
  }
  .copyrightBlock{
    flex-direction: column;

    &Item + .privacy {
      margin-top: 24px;
    }
  }
}

@include large-mobile {
  .footerContent {
    padding: 0;
  }

  .footerLogo,
  .linkBlock {
    align-items: flex-start;
  }
}

.docs {
  text-decoration: underline;
}
