@import '/src/styles/helpers.scss';

$min-card-size: 344px;
$max-card-size: 1fr;

.create-menu {
  &__wrapper {
    margin: auto 0;
    width: 100%;
    &__title{
      margin-bottom: 152px;
    }
    &__body {
      @include autoGrid($min-card-size, $max-card-size);
    }
  }
}
